DATUM_SECRET_KEY=dev-insecure-key-not-for-production
DATUM_DEBUG=1
POSTGRES_DB=datum
POSTGRES_USER=datum
POSTGRES_PASSWORD=datum
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
VALKEY_URL=redis://localhost:6379/0
